{% extends "base.html" %}
{% block title %}Primers for CircRNA{% endblock %}
{% block content %}
	<br><br><br><br>
	<form method="POST" action="/">
		<div class="row">
			<div class="col-md-2">{{ form.csrf_token }}</div>
			<div class="col-md-4">
		    	<h4>{{ form.circ_ids.label }}</h4>
		    	{{ form.circ_ids(style="width: 200px;height: 210px;") }}
		    </div>
		</div>
		<div class="row">
			<div class="col-md-2">{{ form.csrf_token }}</div>
			<div class="col-md-4">
				<input type="submit" value="Get Primers">
			</div>
		</div>
	</form>
{% endblock %}